# Configuration file

entitiesalwaysinfernal {
    B:BlueSlime=false
    B:EntityBlaze=false
    B:EntityCaveFisher=false
    B:EntityCaveSpider=false
    B:EntityCockatrice=false
    B:EntityCreeper=false
    B:EntityDestrachan=false
    B:EntityEnderman=false
    B:EntityEnt=false
    B:EntityGhast=false
    B:EntityGiantBoxer=false
    B:EntityHookHorror=false
    B:EntityHumanPigZombie=false
    B:EntityHumanPirate=false
    B:EntityHumanSkeleton=false
    B:EntityHumanSpecter=false
    B:EntityHumanZombie=false
    B:EntityLordOfTorment=false
    B:EntityMagmaCube=false
    B:EntityMandrake=false
    B:EntityNecromancer=false
    B:EntityNetherHound=false
    B:EntityPhantom=false
    B:EntityPigZombie=false
    B:EntityRakshasa=false
    B:EntityRustMonster=false
    B:EntityShrieker=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySpecterBoss=false
    B:EntitySpider=false
    B:EntityThoqqua=false
    B:EntityTroll=false
    B:EntityVescavor=false
    B:EntityWasp=false
    B:EntityWitch=false
    B:EntityZombie=false
    B:KingBlueSlime=false
    B:MoCEntityGolem=false
    B:MoCEntityHellRat=false
    B:MoCEntityHorseMob=false
    B:MoCEntityMiniGolem=false
    B:MoCEntityOgre=false
    B:MoCEntityRat=false
    B:MoCEntityScorpion=false
    B:MoCEntitySilverSkeleton=false
    B:MoCEntityWWolf=false
    B:MoCEntityWerewolf=false
}


entitybasehealth {
    D:BlueSlime=24.0
    D:EntityBlaze=20.0
    D:EntityCaveFisher=30.0
    D:EntityCaveSpider=12.0
    D:EntityCreeper=20.0
    D:EntityDestrachan=24.0
    D:EntityEnderman=40.0
    D:EntityGhast=10.0
    D:EntityHookHorror=35.0
    D:EntityHumanPigZombie=35.0
    D:EntityHumanPirate=20.0
    D:EntityHumanSkeleton=20.0
    D:EntityHumanSpecter=30.0
    D:EntityHumanZombie=25.0
    D:EntityMagmaCube=1.0
    D:EntityMandrake=20.0
    D:EntityNecromancer=300.0
    D:EntityNetherHound=28.0
    D:EntityPhantom=20.0
    D:EntityPigZombie=20.0
    D:EntityShrieker=10.0
    D:EntitySkeleton=20.0
    D:EntitySlime=1.0
    D:EntitySpider=16.0
    D:EntityThoqqua=25.0
    D:EntityTroll=20.0
    D:EntityVescavor=12.0
    D:EntityWasp=20.0
    D:EntityWitch=26.0
    D:EntityZombie=20.0
    D:KingBlueSlime=100.0
    D:MoCEntityGolem=50.0
    D:MoCEntityHellRat=20.0
    D:MoCEntityHorseMob=20.0
    D:MoCEntityMiniGolem=15.0
    D:MoCEntityOgre=35.0
    D:MoCEntityRat=10.0
    D:MoCEntityScorpion=15.0
    D:MoCEntitySilverSkeleton=25.0
    D:MoCEntityWWolf=20.0
    D:MoCEntityWerewolf=40.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    B:disableGUIoverlay=false
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book
    I:eliteRarity=15
    I:infernoRarity=7
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0
    S:mobHealthFactor=1.0
    I:ultraRarity=7
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:BlueSlime=true
    B:EntityBlaze=true
    B:EntityCaveFisher=true
    B:EntityCaveSpider=true
    B:EntityCockatrice=true
    B:EntityCreeper=true
    B:EntityDestrachan=true
    B:EntityEnderman=true
    B:EntityEnt=true
    B:EntityGhast=true
    B:EntityGiantBoxer=true
    B:EntityHookHorror=true
    B:EntityHumanPigZombie=true
    B:EntityHumanPirate=true
    B:EntityHumanSkeleton=true
    B:EntityHumanSpecter=true
    B:EntityHumanZombie=true
    B:EntityLordOfTorment=true
    B:EntityMagmaCube=true
    B:EntityMandrake=true
    B:EntityNecromancer=true
    B:EntityNetherHound=true
    B:EntityPhantom=true
    B:EntityPigZombie=true
    B:EntityRakshasa=true
    B:EntityRustMonster=true
    B:EntityShrieker=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySpecterBoss=true
    B:EntitySpider=true
    B:EntityThoqqua=true
    B:EntityTroll=true
    B:EntityVescavor=true
    B:EntityWasp=true
    B:EntityWitch=true
    B:EntityZombie=true
    B:KingBlueSlime=true
    B:MoCEntityGolem=true
    B:MoCEntityHellRat=true
    B:MoCEntityHorseMob=true
    B:MoCEntityMiniGolem=true
    B:MoCEntityOgre=true
    B:MoCEntityRat=true
    B:MoCEntityScorpion=true
    B:MoCEntitySilverSkeleton=true
    B:MoCEntityWWolf=true
    B:MoCEntityWerewolf=true
}


